name: Publish Release
on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:
  
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3.5.0
    - name: Create a Release
      uses: elgohr/Github-Release-Action@20220921051011
      env:
        GITHUB_TOKEN: ${{ secrets.RELEASE_TOKEN }}
      with:
        title: ${{ github.sha }}
