name: GitHub Actions Version Updater

on:
  workflow_dispatch:
  schedule:
    - cron:  '0 12 * * *' # at 12:00 every day
  push:
    branches: '*'
    paths: 
      - '.github/workflows/*'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3.5.0
        with:
          token: ${{ secrets.WORKFLOW_SECRET }}

      - name: Run GitHub Actions Version Updater
        uses: saadmk11/github-actions-version-updater@v0.7.4
        with:
          token: ${{ secrets.WORKFLOW_SECRET }}
          
